<p id="notice"><%= notice %></p>

<%= image_tag(@band.band_art, size: "300x300", alt: "band_art") %>
      

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @band.email %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>

<div class="album_container">
  <% @band.albums.each do |album| %>
    <div class="album_img">

    
      <%= image_tag(album.album_art, size: "300x300", alt: "album_art") %>
    </div>
  <% end %>


</div>
