<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main_body">
    <%= yield %>
    </div>
    <div class="params"><%= params.inspect %></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
